body *{
    /*outline: 1px solid black;*/
    font-family: inherit, verdana, arial, sans-serif;
    color: white;
}

div.contenedor{
    width: 970px;
    margin: 0px auto;
    background-color: rgb(38,81,117);
}

    /*Estilos de cabecera*/
    header.cabecera{
        display: block;
    }
        div.tamañoletra{
            height: 21px;
            font-size: 16px;
            text-align: right;
            padding-right: 40px;
        }
            div.tamañoletra a{
                color: rgb(203,173,5);	
            }
        
        img.imagencabecera{
            height: 80px;
            width: auto;
            margin-left: 50px;
            display: inline-block;
            vertical-align: top;
        }
        form.search{
            display: inline-block;
            height: 48px;
            width: 240px;
            padding: 20px 40px;
            margin-left: 300px;
            background-color: rgb(68, 68, 68);
            border-radius: 10px;
            box-shadow: 2px 2px rgb(31, 31, 31);
        }
            form.search input.search{
                display: inline-block;
                height: 40px;
                text-align: center;
            }
            form.search input.submit{
                display: inline-block;
                background-color: rgb(38, 81, 117);
                border-radius: 10px;
                height: 45px;
                width: 55px;
            }

    /*Estilos de Navbar */
    nav.nav-bar{
        background-color: rgb(68, 125, 171);
        height: 30px;
        margin: 30px 90px;
        color: rgb(248, 251, 252);
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 2px 2px rgb(31, 31, 31);
    }
        nav.nav-bar a{
            font-size: 25px;
            text-decoration: none;
            display: inline-block;
            margin: auto 12px;
        
        }
    
    /*Estilos de contenido*/
    div.contenido{
        display: block;
        min-height: 600px;
    }
        div.cajacontenido1{
            display: block;
            text-align: center;
        }
            div.cajacontenido1 ul.menu{
                display: inline-block;
                width: 300px;
                vertical-align: top;
                padding-top: 30px;
            }
                div.cajacontenido1 ul.menu li{
                    padding: 6px;
                }
                
            div.cajacontenido1 div.contenidoderecha{
                display: inline-block;
                width: 600px;
            }
                div.contenidoderecha h3.tituloamarillo{
                    color: rgb(255, 211, 67);
                    font-style: italic;
                }
        div.cajacontenido2{
            background-color: white;
            min-height: 200px;
            display: block;
            text-align: center;
        }
            div.started{
                display: inline-block;
                width: 400px;
                margin: 10px;
                border-top: 5px solid rgb(117, 168, 211);
                vertical-align: top;
            }
            div.app{
                display: inline-block;
                width: 400px;
                margin: 10px;
                border-top: 5px solid rgb(117, 168, 211);
            }
            div.cajacontenido2 h4{
                color: black;
                padding: 0px;
                margin: 5px;
            }
            div.cajacontenido2 p{
                color: black;
                padding: 0px;
                margin: 0px;
            }
            div.cajacontenido2 li{
                color: rgb(117, 168, 211);
                margin: auto 60px;
            }

    /*Estilos de pie de página*/
    footer.pie{
        display: block;
        text-align: center;
        margin-top: 20px;
    }
            div.vinculospie a{
                color: rgb(117, 168, 211);
                text-decoration: none;
                margin: 0px 20px;
                font-size: 22px;
            }
            footer.pie h5{
                color: rgb(117, 168, 211);
                font-size: 12px;
            }